{% extends 'tournaments/base.html' %}

{% block title %}
<title>{{title}}</title>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col mt-2">
			<h5>{{room_name}}</h5>
			<h6>Torneo: {{tournament}}</h5>
			<h6>Premio: {{grand_prize}}</h5>
		</div>
	</div>
	<div class="row">
		<div class="col col-md-8 col-lg-6 offset-md-2 offset-lg-3">
			<form method="post">
				{% for form, pronostic in forms_pronostics %}
					{% csrf_token %}
					<div class="card text-center m-4 border border-dark">
						<div class="card-header text-white bg-dark">
							<input type="hidden" id={{pronostic.game.id}} value={{pronostic.game.id}} name="pronostic_game">
							{{pronostic.game.date_time|date:"d/m/y - H:i" }}hs. | {% if pronostic.game.played %} Partido Finalizado {% else %} Partido por disputarse {% endif %}
						</div>
						<div class="card-body row m-0">
							<div><input type="hidden" name="played" played={{pronostic.game.played}} value={{pronostic.game.played}}></div>
							<h6 class="col-12 card-title">{% if pronostic.game.game_instance == 0 %}Fase de Grupos{% elif pronostic.game.game_instance == 1 %}Octavos de Final{% elif pronostic.game.game_instance == 2 %}Cuartos de Final{% elif pronostic.game.game_instance == 3 %}Semifinal{% elif pronostic.game.game_instance == 4 %}Final{% endif %}</h6>
							<div class="d-none d-md-block col-md-3 fw-bold">{{pronostic.game.home_team.name}}</div>
							<div class="d-block d-md-none col-2 col-md-3 p-0 fw-bold">{{pronostic.game.home_team.fifa_code}}</div>
							<div class="col-3 col-md-2 p-0" {% if pronostic.game.played %} disabled {% endif %}>{{form.home_goals}}</div>
							<div class="col-1 p-0">{% if pronostic.game.is_knockout %}<input class="form-check-input" required=true type="radio" name="ko_win_{{pronostic.game.id}}" value=1 {% if pronostic.penalties_win == 1 %} checked {% endif %}/>{% endif %}</div>
							<div class="col-1 p-0">{% if pronostic.game.is_knockout %}<input class="form-check-input" required=true type="radio" name="ko_win_{{pronostic.game.id}}" value=2 {% if pronostic.penalties_win == 2 %} checked {% endif %}/>{% endif %}</div>
							<div class="col-3 col-md-2 p-0">{{form.away_goals}}</div>
							<div class="d-none d-md-block col-md-3 fw-bold">{{pronostic.game.away_team.name}}</div>
							<div class="d-block d-md-none col-2 col-md-3 p-0 fw-bold">{{pronostic.game.away_team.fifa_code}}</div>
						<p class="card-text mt-3">Pronóstico modificado: {{pronostic.last_modified|date:"d/m/y - H:i"}}hs.</p>
						</div>
						<div class="card-footer text-white bg-dark">
						Resultado: {% if pronostic.game.played %}{{pronostic.game.home_goals}}-{{pronostic.game.away_goals}}{% else %}Pendiente{% endif %} | Puntos: {% if pronostic.points >= 0 %} {{pronostic.points}} {% else %} Pendiente {% endif %}
						</div>
					</div>
				{% endfor %}
		</div>
	</div>
	<div class="row mb-3">
		<a onclick="history.back()" class="btn btn-dark col-3 col-md-2 col-lg-1 offset-3 offset-md-4 offset-lg-5 me-1">Volver</a>
		<button type="submit" class="btn btn-dark col-3 col-md-2 col-lg-1">Guardar</button>
	</div>
	</br>
	</form>
<script>
	function check_tie(element){
		parent = element.parentNode.parentNode;
		home_goals = parent.querySelector('[name="home_goals"]').value
		away_goals = parent.querySelector('[name="away_goals"]').value
		radio_buttons = parent.querySelectorAll('input[type="radio"]');
		if (home_goals != away_goals){
			radio_buttons[0].disabled = true;
			radio_buttons[1].disabled = true;
		}
		else {
			radio_buttons[0].removeAttribute("disabled");
			radio_buttons[1].removeAttribute("disabled");
		}
	};
	
	function check_elements(){
		// elements = document.querySelectorAll('input[type="radio"]');
		elements = document.querySelectorAll("div.card-body.row")
		elements.forEach(function(element){
			// parent = element.parentNode.parentNode;
			played = element.querySelector('[name="played"]').getAttribute("played")
			home_goals = element.querySelector('[name="home_goals"]')
			away_goals = element.querySelector('[name="away_goals"]')
			radio_buttons = element.querySelectorAll('input[type="radio"]');
			if (played == "True"){
				element.classList.add("bg-secondary");
				home_goals.disabled = true;
				away_goals.disabled = true;
				home_goals.setAttribute("style", "background-color: #b5babe;");
				away_goals.setAttribute("style", "background-color: #b5babe;");
				home_goals.setAttribute("class", "form-control");
				away_goals.setAttribute("class", "form-control");
				if (radio_buttons.length != 0) {
					radio_buttons[0].disabled = true;
					radio_buttons[1].disabled = true;
				}
			}
			else if (home_goals.value != away_goals.value && radio_buttons.length != 0){
				radio_buttons[0].disabled = true;
				radio_buttons[1].disabled = true;
			}
			else if(radio_buttons.length != 0) {
				radio_buttons[0].removeAttribute("disabled");
				radio_buttons[1].removeAttribute("disabled");
				}})

	};

	window.onload = check_elements();
</script>
{% endblock %}
