{% extends 'tournaments/base.html' %}
{% load static %}

{% block title %}
<title>{{title}}</title>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col mt-2">
    <h5>{{room_name}}</h5>
    <h6>Torneo: {{tournament}}</h5>
    <h6>Premio: {{grand_prize}}</h5>
  </div>
</div>
<div class="row">
  <div class="col col-md-8 col-lg-6 offset-md-2 offset-lg-3">
    <form method="post">
      {% for form, pronostic in forms_pronostics %}
        {% csrf_token %}
        <div class="card text-center m-4 border border-dark">
          <div class="card-header text-white bg-dark">
            <input type="hidden" id={{pronostic.game.id}} value={{pronostic.game.id}} name="pronostic_game">
            {{pronostic.game.date_time|date:"d/m/y - H:i" }}hs. | {% if pronostic.game.played %} Partido Finalizado {% else %} Partido por disputarse {% endif %}
          </div>
          <div class="card-body">
            <div><input type="hidden" name="played" played={{pronostic.game.played}} value={{pronostic.game.played}}></div>
            <h6 class="card-title">{% if pronostic.game.game_instance == 0 %}Fase de Grupos{% elif pronostic.game.game_instance == 1 %}Octavos de Final{% elif pronostic.game.game_instance == 2 %}Cuartos de Final{% elif pronostic.game.game_instance == 3 %}Semifinal{% elif pronostic.game.game_instance == 4 %}Final{% endif %}</h6>
            
            <div class="row align-items-center">
                <div class="col-5 fw-bold">{{pronostic.game.home_team.name}}</div>
                <div class="col-2">vs</div>
                <div class="col-5 fw-bold">{{pronostic.game.away_team.name}}</div>
            </div>

            <div class="row align-items-center mt-2 justify-content-center">
                <div class="col-4 p-0" {% if pronostic.game.played %} disabled {% endif %}>{{form.home_goals}}</div>
                <div class="col-1 p-0">-</div>
                <div class="col-4 p-0">{{form.away_goals}}</div>
            </div>
            
            {% if pronostic.game.is_knockout %}
            <div class="mt-2">
                <div class="row mt-2">
                    <div class="col-12"><small>En caso de empate, ganador por penales:</small></div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-5 text-end">
                        <label for="ko_win_{{pronostic.game.id}}_1" class="w-100">{{pronostic.game.home_team.fifa_code}}</label>
                    </div>
                    <div class="col-1 text-center">
                        <input class="form-check-input" required id="ko_win_{{pronostic.game.id}}_1" type="radio" name="ko_win_{{pronostic.game.id}}" value=1 {% if pronostic.penalties_win == 1 %} checked {% endif %}/>
                    </div>
                    <div class="col-1 text-center">
                        <input class="form-check-input" required id="ko_win_{{pronostic.game.id}}_2" type="radio" name="ko_win_{{pronostic.game.id}}" value=2 {% if pronostic.penalties_win == 2 %} checked {% endif %}/>
                    </div>
                     <div class="col-5 text-start">
                        <label for="ko_win_{{pronostic.game.id}}_2" class="w-100">{{pronostic.game.away_team.fifa_code}}</label>
                    </div>
                </div>
            </div>
            {% endif %}
            <p class="card-text mt-3">Pronóstico modificado: {{pronostic.last_modified|date:"d/m/y - H:i"}}hs.</p>
          </div>
          <div class="card-footer text-white bg-dark">
            Resultado: {% if pronostic.game.played %}{{pronostic.game.home_goals}}-{{pronostic.game.away_goals}}{% else %}Pendiente{% endif %} | Puntos: {% if pronostic.points >= 0 %} {{pronostic.points}} {% else %} Pendiente {% endif %}
          </div>
        </div>
      {% endfor %}
  </div>
</div>
<div class="row mb-3">
  <a onclick="history.back()" class="btn btn-dark col-3 col-md-2 col-lg-1 offset-3 offset-md-4 offset-lg-5 me-1">Volver</a>
  <button type="submit" class="btn btn-dark col-3 col-md-2 col-lg-1">Guardar</button>
</div>
</br>
</form>

<script src="{% static 'tournaments/js/pronostics.js' %}"></script>
{% endblock %}
