{% extends 'tournaments/base.html' %}

{% block title %}
<title>{{title}}</title>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col mt-2 mb-4">
		<h5>Qatar 2022</h5>
	</div>
</div>
<div class="row">
	<div class="col col-md-6 offset-md-3">
		<table class="table table-dark table-hover">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Local</th>
					<th>Resultado</th>
					<th>Visitante</th>
				</tr>
			</thead>
			
			{% for game in games %}
			<tbody>
				<tr>
					<td>{{game.date_time|date:"d/m/y | H:i" }} hs.</td>
					<td>{{game.home_team.fifa_code}}</td>
					<td>{{game.home_goals}}-{{game.away_goals}}</td>
					<td>{{game.away_team.fifa_code}}</td>
				</tr>
			</tbody>
			{% endfor %}
		</table>
	</div>
</div>

{% endblock %}
