{% extends 'tournaments/base.html' %}

{% block title %}
<title>{{title}}</title>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col col-md-8 col-lg-6 col-xl-4 mx-auto mt-2 mb-4">
		<h5>¡Hola, {{user.username|title}}!</h5>
		<h6>¡Gracias por ser parte de PRODE24!</h6>
		</br>
		<h6> Reglas básicas del juego:</h6>
		</br>
		<ul class="list-group border border-dark">
			<li class="list-group-item"><p class="text-start">Pronóstico correcto del resultado, sin acertar goles: 3 puntos.
			</br>
			Ejemplo: ARG-BRA, Resultado: 2-0, Pronóstico 3-1</p></li>
			<li class="list-group-item"><p class="text-start">Pronóstico correcto del resultado y goles: 5 puntos.
			</br>
			Ejemplo: ARG-BRA, Resultado: 2-0, Pronóstico 2-0</p></li>
			<li class="list-group-item"><p class="text-start">Pronóstico incorrecto: 0 puntos.</p></li>
			<li class="list-group-item"><p class="text-start">Desde 8vos de final, si pronostica empate, deberá elegir el equipo que pasará a la siguiente ronda.</p></li>
			<li class="list-group-item"><p class="text-start">Los pronósticos pueden modificarse hasta 1 hora antes de comenzar el partido.</p></li>
			<li class="list-group-item"><p class="text-start">Ganará quien sume más puntos.</p></li>
		  </ul>
		</br>
		<h6 class="text-center">¡Mucha Suerte!</h6>
		<a href="{% url 'all_rooms' %}" class="btn btn-dark m-4">Mis Torneos</a>
	</div>
</div>
{% endblock %}
