{% extends 'tournaments/base.html' %}

{% block title %}
<title>Cambio de Password</title>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col mt-2 mb-4">
		<h5>Cambio de Password</h5>
	</div>
</div>
<div class="row">
	<div class="col-8 col-sm-6 col-md-4 col-lg-3 col-xl-2 mx-auto form-group">
		<form method="post">
			{% csrf_token %}
			<!-- Password input -->
			<div class="form-outline mb-2">
				<input type="password" name="old_password" id="id_old_password" required class="form-control mb-2" />
				<label class="form-label" for="id_old_password">Password Anterior</label>
			</div>

			<div class="form-outline mb-2">
			  <input type="password" name="new_password1" id="id_new_password1" required class="form-control mb-2" />
			  <label class="form-label" for="id_new_password1">Password Nueva</label>
			</br>
			  <small id="usernameHelpBlock" class="form-text text-muted">
				Su nueva password debe contener como mínimo 6 caracteres.
			  </small>
			</div>

			<div class="form-outline mb-2">
				<input type="password" name="new_password2" id="id_new_password2" required class="form-control mb-2" />
				<label class="form-label" for="id_new_password2">Confirmar Password</label>
			</br>
				<small id="usernameHelpBlock" class="form-text text-muted">
				Debe coincidir con su nueva password.
				</small>
			</div>
		  
			<!-- Submit button -->
			<button type="submit" class="btn btn-dark btn-block mb-4">Guardar</button>
		  </form>
	</div>
</div>
{% endblock %}
